<div class="ingredient-input">
  <div class="ingredient-input__top">
    <div class="form-field ingredient-input__name">
      <span class="form-field__label">Название</span>
      <input
        class="form-field__input"
        placeholder="Например, Мука"
        [class.form-field__input--invalid]="isInvalid(ingredientForm.name)"
        [formField]="ingredientForm.name"
      />
    </div>
    <button
      class="ingredient-input__remove"
      title="Удалить ингредиент"
      type="button"
      (click)="remove.emit()"
    >
      ×
    </button>
  </div>

  <div class="ingredient-input__middle">
    @let unit = ingredientForm.amount.unit().value();
    @if (unit) {
      <div class="form-field ingredient-input__value">
        <span class="form-field__label">Кол-во</span>
        <recipe-book-number-input
          [class.form-field__input--invalid]="isInvalid(ingredientForm.amount.value)"
          [formField]="ingredientForm.amount.value"
          [step]="getStep(unit)"
        />
      </div>
    }
    <div class="form-field ingredient-input__unit">
      <span class="form-field__label">Ед. изм.</span>
      <recipe-book-dropdown
        placeholder="Выбрать"
        [formField]="ingredientForm.amount.unit"
        [options]="ingredientUnits"
      />
    </div>
  </div>

  <div class="form-field ingredient-input__note">
    <span class="form-field__label">Примечание</span>
    <input
      class="form-field__input"
      placeholder="Например, просеять или комнатной температуры"
      [formField]="ingredientForm.note"
    />
  </div>

  <recipe-book-form-errors [field]="ingredientForm.name" />
  <recipe-book-form-errors [field]="ingredientForm.amount.value" />
</div>
