<div class="container">
  <div class="home-page">
    <recipe-book-search-query [formField]="filterForm.search" />

    <div class="home-page__content">
      <aside class="home-page__sidebar">
        @let areFiltersOpen = this.areFiltersOpen();
        <button
          class="home-page__filter-toggle"
          type="button"
          (click)="this.areFiltersOpen.set(!areFiltersOpen)"
        >
          {{ areFiltersOpen ? "Скрыть фильтры" : "Показать фильтры" }}
        </button>

        <div class="home-page__filters-container">
          <recipe-book-filters
            class="filters--desktop"
            [formField]="filterForm.filters"
            (resetFilters)="resetFilters()"
          />

          @if (areFiltersOpen) {
            <recipe-book-filters
              class="filters--mobile"
              [formField]="filterForm.filters"
              (resetFilters)="resetFilters()"
            />
          }
        </div>
      </aside>

      <main class="home-page__main">
        <div class="home-page__grid">
          @for (recipe of recipes(); track recipe.id) {
            <recipe-book-recipe-card [recipe]="recipe" />
          } @empty {
            <div class="home-page__empty">
              <p>Не удалось найти подходящие рецепты :(</p>
            </div>
          }
        </div>
      </main>
    </div>
  </div>
</div>
