<div class="recipe-form">
  <form class="recipe-form__container" novalidate (submit)="submit($event)">
    <h2 class="recipe-form__title">{{ formTitle() }}</h2>
    <div class="recipe-form__field">
      <input placeholder="Название рецепта" [formField]="recipeForm.title" />
    </div>
    <div class="recipe-form__field">
      <textarea
        placeholder="Описание (поддерживается Markdown)"
        [formField]="recipeForm.description"></textarea>
    </div>

    <button class="btn btn-primary recipe-form__submit" type="submit">Сохранить</button>
  </form>
</div>
