<div class="number-input">
  @let min = this.min();
  @let max = this.max();
  @let value = this.value();

  <button
    class="number-input__btn number-input__btn--minus"
    type="button"
    [disabled]="min !== undefined && value <= min!"
    (click)="decrement()"
  >
    −
  </button>
  <input
    class="number-input__field"
    type="number"
    [max]="max"
    [min]="min"
    [placeholder]="placeholder()"
    [step]="step()"
    [value]="value"
    (input)="onInput($event)"
  />
  <button
    class="number-input__btn number-input__btn--plus"
    type="button"
    [disabled]="max !== undefined && value >= max!"
    (click)="increment()"
  >
    +
  </button>
</div>
