<recipe-book-recipe-section title="Инструкция приготовления">
  <ol class="recipe-steps-list">
    @for (group of stepGroups(); track group.name) {
      <li class="recipe-steps-list__group">
        <h4 class="recipe-steps-list__group-name">{{ group.name }}</h4>
        <ol class="recipe-steps-list__group-steps">
          @for (step of group.steps; track step) {
            <li>
              <recipe-book-recipe-step [ingredients]="ingredients()" [step]="step" />
            </li>
          }
        </ol>
      </li>
    }
  </ol>
</recipe-book-recipe-section>
