@if (this.recipe(); as recipe) {
  <div class="recipe-page">
    <div class="recipe-page__header">
      <div class="recipe-page__side">
        <div class="recipe-page__photo">
          <img
            alt="Фотография блюда"
            class="recipe-page__image"
            fill
            priority
            recipeBookImageFit
            [ngSrc]="recipe.image.src"
          />
        </div>

        <div class="recipe-page__meta">
          <section class="recipe-page__categories">
            <p class="recipe-page__category">Тип еды: {{ recipe.foodTypes | enumeration }}</p>
            <p class="recipe-page__category">Кухня: {{ recipe.kitchens | enumeration }}</p>
            @if (recipe.diets.length) {
              <p class="recipe-page__category">Диета: {{ recipe.diets | enumeration }}</p>
            }
          </section>
          <p class="recipe-page__calories">1 порция содержит {{ recipe.calories }} ккал</p>
        </div>
      </div>

      <div class="recipe-page__info">
        <h2 class="recipe-page__title">{{ recipe.title }}</h2>
        <markdown class="recipe-page__description" [data]="recipe.description" />

        <div class="recipe-page__stats">
          <section class="recipe-page__durations">
            @let durations = recipe.durations;
            @if (durations.preparation; as preparationDuration) {
              <p class="recipe-page__duration">
                Время подготовки: {{ preparationDuration | duration }}
              </p>
            }
            <p class="recipe-page__duration">
              Время приготовления: {{ durations.cooking | duration }}
            </p>

            <p class="recipe-page__duration">
              Всего времени: {{ durations.preparation + durations.cooking | duration }}
            </p>
          </section>
        </div>
      </div>
    </div>

    <recipe-book-recipe-tools [tools]="recipe.tools" />

    <recipe-book-servings-input
      class="recipe-page__servings"
      [value]="currentServings()"
      (valueChange)="currentServings.set($event)"
    />

    <recipe-book-recipe-ingredients [ingredients]="scaledIngredients()" />

    <recipe-book-recipe-steps-list
      [ingredients]="scaledIngredients()"
      [stepGroups]="recipe.stepGroups"
    />

    @if (recipe.notes.length) {
      <recipe-book-recipe-notes [notes]="recipe.notes" />
    }

    <div class="recipe-page__actions">
      <button class="btn btn-primary" type="button" (click)="editRecipe()">Редактировать</button>
      <button class="btn btn-danger" type="button" (click)="deleteRecipe()">Удалить</button>
    </div>
  </div>
}
