<div class="filters">
  <form class="filters__form" novalidate>
    <div class="filters__groups">
      <div class="form-field">
        <recipe-book-filter-group
          [formField]="valueForm.foodTypes"
          [label]="'Тип блюда' | uppercase"
          [options]="foodTypesOptions"
        />
      </div>

      <div class="form-field">
        <recipe-book-filter-group
          [formField]="valueForm.kitchens"
          [label]="'Кухня' | uppercase"
          [options]="kitchensOptions"
        />
      </div>

      <div class="form-field">
        <recipe-book-filter-group
          [formField]="valueForm.diets"
          [label]="'Диета' | uppercase"
          [options]="dietsOptions"
        />
      </div>
    </div>

    <div class="filters__actions">
      <button class="filters__reset" type="reset" (click)="reset($event)">Сбросить фильтры</button>
    </div>
  </form>
</div>
