@if (dialogService.config(); as config) {
  <div
    class="dialog-overlay"
    tabindex="-1"
    (click)="dialogService.handleResult(false)"
    (keydown.escape)="dialogService.handleResult(false)"
  >
    <div
      class="dialog"
      tabindex="-1"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
    >
      <h3 class="dialog__title">{{ config.title }}</h3>
      <p class="dialog__message">{{ config.message }}</p>

      <div class="dialog__actions">
        <button class="btn btn-secondary" type="button" (click)="dialogService.handleResult(false)">
          {{ config.cancelText }}
        </button>
        <button
          class="btn"
          type="button"
          [class.btn-danger]="config.danger"
          [class.btn-primary]="!config.danger"
          (click)="dialogService.handleResult(true)"
        >
          {{ config.confirmText }}
        </button>
      </div>
    </div>
  </div>
}
