<div class="filters">
  <div class="filters__groups">
    <recipe-book-filter-group
      label="Тип блюда"
      [options]="foodTypesOptions"
      [selectedOptions]="state().foodTypes"
      (changed)="updateFoodTypes($event)"
    />

    <recipe-book-filter-group
      label="Кухня"
      [options]="kitchensOptions"
      [selectedOptions]="state().kitchens"
      (changed)="updateKitchens($event)"
    />

    <recipe-book-filter-group
      label="Диета"
      [options]="dietsOptions"
      [selectedOptions]="state().diets"
      (changed)="updateDiets($event)"
    />
  </div>

  <div class="filters__actions">
    <button class="filters__reset" type="button" (click)="resetFilters.emit()">
      Сбросить фильтры
    </button>
  </div>
</div>
