<h3 class="form-section-title">Категории</h3>

<div class="form-field">
  <recipe-book-filter-group
    label="Тип еды"
    [formField]="recipeCategoriesForm.foodTypes"
    [options]="foodTypesOptions"
  />
  <recipe-book-form-errors [field]="recipeCategoriesForm.foodTypes" />
</div>

<div class="form-field">
  <recipe-book-filter-group
    label="Кухня"
    [formField]="recipeCategoriesForm.kitchens"
    [options]="kitchensOptions"
  />
  <recipe-book-form-errors [field]="recipeCategoriesForm.kitchens" />
</div>

<div class="form-field">
  <recipe-book-filter-group
    label="Диета"
    [formField]="recipeCategoriesForm.diets"
    [options]="dietsOptions"
  />
  <recipe-book-form-errors [field]="recipeCategoriesForm.diets" />
</div>
