<header class="header">
  <div class="container">
    <a class="header__logo" routerLink="/">{{ appName }}</a>
    <nav class="header__nav">
      <a
        class="header__nav-link"
        routerLink="/"
        routerLinkActive="header__nav-link--active"
        [routerLinkActiveOptions]="{ exact: true }">
        Главная
      </a>
      <a
        class="header__nav-link"
        routerLink="/recipes/new"
        routerLinkActive="header__nav-link--active">
        Добавить рецепт
      </a>
      <recipe-book-theme-toggle />
    </nav>
  </div>
</header>
